<div>
  <ul class="sidebar-ext">
    <li class="about-btn" (click)="link()" data-target='#'>About</li>
    <li class="services-btn" (click)="link()" data-target='#'>Services</li>
    <li class="contact-btn" (click)="link()" data-target='#'>Contact</li>
  </ul>
<div class="container-2">
  <p>OctoPuss Boxing Club is a development and design firm based out of Salt Lake City. We work with small business and large scale UI as well as app building, branding and online marketing, and graphic design. In our free time you'll catch us hucking cliffs and smoking spliffs.</p>
</div>
<div class="sidebar-btn"></div>
</div>
